<footer>
  <ul>
    <li>
      <%= footer[0].name %>
    </li>
    <li>
      <%= footer[0].street %>
    </li>
    <li>
      <%= footer[0].zip %>
    </li>
    <li>
      <%= footer[0].city %>
    </li>
    <li>
      <%= footer[0].email %>
    </li>
    <li>
      <%= footer[0].domain %>
    </li>
    <li>
      <%= footer[0].phone %>
    </li>
  </ul>

</footer>

</div>
</body>

</html>